

.card {
  /* Add shadows to create the "card" effect */

  display: block;
  background-color: #99d8d0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.currency{
  width: 370px;
}


  .button {
      border-radius: 25px;
    width: 40%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }


.button:hover {
  background-color: #3c70a4;
 color: white;
}

input[type=text] {
    border-radius: 25px;
  width: 100%;
  padding: 4px 8px;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}

.list{
    border-radius: 25px;
  height : 20px;
  width: 50%;
}

h2{
  font-size: 26px;
  text-align: center;
  margin: 15px;
    font-family: 'Tourmaline Printed';
    color: #fefdca;
}

h4 {
  font-size: 18px;
  text-align: center;
  margin: 3px;
  color: black;
}

.weatherCard{

  display: inline-block;
    margin-left: 20px;

}
