body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

.App-banner {
  width: 100%;
  height: 400px;
  object-fit: none;
}

.App-Search {
  text-align: center;
  color: blue;
  position: relative;
  top: -25px;
}

.App-react-context {
  display: none;
}