body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
font-family: 'Tourmaline Printed';
font-style: normal;
font-weight: normal;
src: local('Tourmaline Printed'), url('Tourmaline-Printed.woff') format('woff');
}

h1{
  font-family: 'Tourmaline Printed';
  text-align: center;
  font-size: 80px;
  margin: 20px;
  color: #464159;
}
